In [ ]:
# Parenteses e conchetes
# Em resumo, parênteses são usados principalmente para chamar funções, agrupar expressões matemáticas e criar tuplas, 
#enquanto colchetes são usados para acessar e manipular elementos em sequências como listas e strings, fatiar sequências e criar listas e dicionários

In [61]:
import pandas as pd
import numpy as np

# Gerar nomes de bairros aleatórios de São Paulo, por ser uma lista usamos conchetes
# random.choice escolhe aleatoriamente um elemento dentro de uma lista pré-definida e caso eu queira uma lista, posso colocar quantos elementos eu quero
bairros = ['Moema', 'Pinheiros', 'Vila Mariana', 'Itaim Bibi', 'Perdizes', 'Vila Madalena', 'Morumbi', 'Brooklin', 'Jardins', 'Santana']
bairros_aleatorios = np.random.choice(bairros, 200)

# Gerar valores de aluguel aleatórios entre R$ 1000 e R$ 10000, o número finaliza com 10001, pois o último número não entra [1000,10001[
valores_aluguel = np.random.randint(1000, 10001, 200)

# Gerar números de quartos aleatórios entre 1 e 5, o número finaliza com 6, pois o último número não entra [1,6[
num_quartos = np.random.randint(1, 6, 200)

# Gerar números de banheiros aleatórios entre 1 e 3, o número finaliza com 4, pois o último número não entra [1,4[
num_banheiros = np.random.randint(1, 4, 200)

# Gerar se tem garagem ou não aleatoriamente, diferente dos bairros que coloquei em uma lista apartada, como são poucos elementos eu coloquei dentro da função
garagem = np.random.choice(['Sim', 'Não'], 200)

# Criar DataFrame com os dados gerados
## Primeiro eu concateno todas os dados, e dou uma nomenclatura para a coluna
dados = {
    'Bairro': bairros_aleatorios,
    'Price': valores_aluguel,
    'Quartos': num_quartos,
    'Banheiros': num_banheiros,
    'Garagem': garagem
}
## Transformo esses dados em um Dataframe
casas_para_alugar = pd.DataFrame(dados)

# Salvar DataFrame em um arquivo CSV
casas_para_alugar.to_csv('casas_para_alugar_sp.csv', index=False)

print("Lista de casas para alugar em São Paulo gerada com sucesso e salva em 'casas_para_alugar_sp.csv'")

Lista de casas para alugar em São Paulo gerada com sucesso e salva em 'casas_para_alugar_sp.csv'

In [71]:
def limpa_preco(linha):
    linha['Garagem'] = linha['Garagem'].replace('Sim','True') 
    linha['Garagem'] = linha['Garagem'].replace('Não','False') ## pegar cada valor de linha no campo price e subistituir o valor r$ por vazio
    return casas_para_alugar
casas_para_alugar = limpa_preco(casas_para_alugar) ## Substituir a base de dados para a nova
casas_para_alugar.head()

       Bairro  Price  Quartos  Banheiros Garagem
0     Jardins   4316        3          3   False
1    Brooklin   4321        3          2    True
2  Itaim Bibi   8169        2          1   False
3       Moema   8422        5          1    True
4   Pinheiros   7450        4          1    True

In [77]:
valor_max_aluguel = 10000
taxa_do_aluguel = 200
preco = 0
valor_imovel =[]

def ajusta_alugueis(casas_para_alugar):
    valor_imovel = []
    ### Cada elemento da coluna Pricce se denomina preco agora
    for preco in casas_para_alugar['Price']: 
        ### para cada preco ele avalia se ele é maior ou não
        if preco < valor_max_aluguel: 
            ### Adiciona no campo valor_imovel o valor do preco * taxa
            valor_imovel.append(preco * taxa_do_aluguel) 
        else:
            ### Caso não satisfaça ele adiciona o preco cru 
            valor_imovel.append(preco) 
    ### No final retorna todos os campos
    return valor_imovel 
# Aqui iguala o valor_imovel a função criada
valor_imovel = ajusta_alugueis(casas_para_alugar)  
# cria um campo de dados onde o valor da coluna é valor_imovel
dados = {
    'valor_imovel':valor_imovel} 
# transforma em um dataframe
valor_imovel = pd.DataFrame(dados)
#head o data frame
valor_imovel.head()

   valor_imovel
0        863200
1        864200
2       1633800
3       1684400
4       1490000

In [78]:
# Junta os dados de ambas ambos em coluna ou do lado do outro, caso fosse 0 seria dados empilhados linha
dt_concatenar = pd.concat([casas_para_alugar,valor_imovel], axis=1)

In [66]:
dt_concatenar.head()

       Bairro  Price  Quartos  Banheiros Garagem  valor_imovel
0     Jardins   4316        3          3      No        863200
1    Brooklin   4321        3          2     Sim        864200
2  Itaim Bibi   8169        2          1      No       1633800
3       Moema   8422        5          1     Sim       1684400
4   Pinheiros   7450        4          1     Sim       1490000

In [89]:
# Pega a base final e faz a agrupação por bairos e agrega os valores para definir, média, mediana, max, min e count de linhas
resultado_group = dt_concatenar.groupby(['Bairro'])['Price'].agg(['count','mean','median','max','min'])
# Ordernar do maior para o menor de count depois média
resultado_group.sort_values(by=['count', 'mean'], ascending=False)

               count         mean  median   max   min
Bairro
Pinheiros         23  5321.260870  5559.0  9887  1181
Brooklin          22  6244.136364  6249.5  9757  1819
Vila Mariana      22  5987.409091  6283.5  9732  1074
Perdizes          21  6121.714286  6737.0  9840  2192
Morumbi           21  5792.333333  5659.0  9893  1300
Itaim Bibi        21  5340.857143  4093.0  9834  1107
Santana           19  5797.526316  6360.0  9274  1349
Moema             19  5118.526316  5039.0  9809  1070
Jardins           18  5069.944444  4133.5  9893  2115
Vila Madalena     14  4942.285714  4986.5  7614  1021

In [90]:
print(bairros_aleatorios)

['Jardins' 'Brooklin' 'Itaim Bibi' 'Moema' 'Pinheiros' 'Itaim Bibi'
 'Brooklin' 'Perdizes' 'Vila Mariana' 'Morumbi' 'Santana' 'Vila Madalena'
 'Jardins' 'Vila Madalena' 'Pinheiros' 'Moema' 'Pinheiros' 'Jardins'
 'Perdizes' 'Perdizes' 'Brooklin' 'Itaim Bibi' 'Santana' 'Santana'
 'Jardins' 'Itaim Bibi' 'Brooklin' 'Vila Mariana' 'Pinheiros' 'Itaim Bibi'
 'Moema' 'Brooklin' 'Pinheiros' 'Brooklin' 'Vila Madalena' 'Vila Madalena'
 'Perdizes' 'Santana' 'Vila Mariana' 'Morumbi' 'Santana' 'Pinheiros'
 'Santana' 'Jardins' 'Perdizes' 'Moema' 'Morumbi' 'Pinheiros' 'Pinheiros'
 'Morumbi' 'Santana' 'Vila Mariana' 'Brooklin' 'Itaim Bibi' 'Brooklin'
 'Brooklin' 'Moema' 'Vila Madalena' 'Itaim Bibi' 'Jardins' 'Jardins'
 'Vila Mariana' 'Vila Mariana' 'Brooklin' 'Brooklin' 'Santana' 'Pinheiros'
 'Brooklin' 'Jardins' 'Moema' 'Pinheiros' 'Perdizes' 'Santana' 'Santana'
 'Moema' 'Vila Mariana' 'Santana' 'Perdizes' 'Pinheiros' 'Itaim Bibi'
 'Morumbi' 'Pinheiros' 'Jardins' 'Brooklin' 'Vila Mariana' 'Brooklin'
 'Perdizes' 'Vila Madalena' 'Vila Madalena' 'Morumbi' 'Moema' 'Jardins'
 'Pinheiros' 'Vila Mariana' 'Perdizes' 'Morumbi' 'Morumbi' 'Itaim Bibi'
 'Brooklin' 'Pinheiros' 'Brooklin' 'Vila Madalena' 'Itaim Bibi' 'Brooklin'
 'Morumbi' 'Vila Mariana' 'Vila Madalena' 'Perdizes' 'Vila Madalena'
 'Santana' 'Santana' 'Jardins' 'Itaim Bibi' 'Brooklin' 'Perdizes'
 'Pinheiros' 'Perdizes' 'Vila Mariana' 'Jardins' 'Morumbi' 'Pinheiros'
 'Vila Mariana' 'Vila Mariana' 'Itaim Bibi' 'Jardins' 'Vila Mariana'
 'Morumbi' 'Santana' 'Moema' 'Perdizes' 'Perdizes' 'Morumbi' 'Moema'
 'Pinheiros' 'Vila Mariana' 'Jardins' 'Vila Madalena' 'Moema' 'Itaim Bibi'
 'Jardins' 'Perdizes' 'Pinheiros' 'Itaim Bibi' 'Itaim Bibi' 'Santana'
 'Brooklin' 'Vila Mariana' 'Moema' 'Perdizes' 'Vila Mariana' 'Brooklin'
 'Santana' 'Moema' 'Vila Mariana' 'Jardins' 'Morumbi' 'Jardins' 'Perdizes'
 'Brooklin' 'Morumbi' 'Perdizes' 'Itaim Bibi' 'Itaim Bibi' 'Vila Madalena'
 'Pinheiros' 'Perdizes' 'Itaim Bibi' 'Moema' 'Morumbi' 'Morumbi'
 'Vila Madalena' 'Jardins' 'Pinheiros' 'Vila Mariana' 'Itaim Bibi'
 'Santana' 'Itaim Bibi' 'Vila Madalena' 'Moema' 'Vila Mariana' 'Morumbi'
 'Perdizes' 'Morumbi' 'Morumbi' 'Pinheiros' 'Pinheiros' 'Pinheiros'
 'Itaim Bibi' 'Moema' 'Santana' 'Vila Mariana' 'Morumbi' 'Brooklin'
 'Moema' 'Moema' 'Perdizes' 'Moema' 'Morumbi' 'Vila Mariana' 'Santana']