In [35]:
import pandas as pd
import numpy as np
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.3-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.3-py2.py3-none-any.whl (251 kB)
   ---------------------------------------- 0.0/251.3 kB ? eta -:--:--
   - -------------------------------------- 10.2/251.3 kB ? eta -:--:--
   ------------------------------ --------- 194.6/251.3 kB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 251.3/251.3 kB 3.1 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.3

In [23]:
# Definindo uma semente aleatória para reprodutibilidade
np.random.seed(0)

# Gerando nomes aleatórios
nomes = ['João', 'Maria', 'Pedro', 'Ana', 'Luiza', 'Carlos', 'Juliana', 'Rafael', 'Fernanda', 'Roberto']
funcionarios = np.random.choice(nomes, 200)

# Gerando idades aleatórias entre 20 e 60 anos
idades = np.random.randint(20, 61, 200)

# Gerando cargos aleatórios
cargos = ['Analista', 'Gerente', 'Coordenador', 'Diretor', 'Desenvolvedor', 'Engenheiro', 'Especialista']
cargos_funcionarios = np.random.choice(cargos, 200)

# Gerando salários aleatórios entre 3000 e 15000
salarios = np.random.randint(3000, 15001, 200)

# Gerando endereços aleatórios fictícios
enderecos = ['Rua A', 'Rua B', 'Rua C', 'Rua D', 'Rua E']
numeros = np.random.randint(100, 1000, 200)
enderecos_funcionarios = [f"{np.random.choice(enderecos)}, {numero}" for numero in numeros]

# Gerando departamentos aleatórios
departamentos = ['TI', 'Recursos Humanos', 'Produção', 'Administração', 'Vendas']
departamentos_funcionarios = np.random.choice(departamentos, 200)

# Criando o DataFrame
dados = {
    'Nome': funcionarios,
    'Idade': idades,
    'Cargo': cargos_funcionarios,
    'Salário': salarios,
    'Endereço': enderecos_funcionarios,
    'Departamento': departamentos_funcionarios
}

base_de_dados = pd.DataFrame(dados)

# Salvar DataFrame em um arquivo CSV
base_de_dados.to_csv('base_de_dados.csv', index=False)

print("Base de dados salva com sucesso em 'base_de_dados.csv'")

Base de dados salva com sucesso em 'base_de_dados.csv'

In [31]:
bd_funcionarios = pb.read_csv('base_de_dados.csv')
bd_funcionarios.head()

     Nome  Idade        Cargo  Salário    Endereço   Departamento
0  Carlos     45      Gerente     6107  Rua B, 250         Vendas
1    João     43  Coordenador    11429  Rua B, 503             TI
2     Ana     40  Coordenador     9910  Rua B, 489         Vendas
3     Ana     49      Gerente    12497  Rua E, 904  Administração
4  Rafael     23      Diretor     3021  Rua E, 695  Administração

In [32]:
bd_funcionarios['Cargo'].value_counts() ## contar quantas entradas tem para cada valor do campo

Cargo
Diretor          34
Engenheiro       30
Coordenador      29
Desenvolvedor    28
Especialista     28
Gerente          27
Analista         24
Name: count, dtype: int64

In [34]:
##Cargos mais altos tem média de idade mais alta
bd_funcionarios.groupby(['Cargo'])['Idade'].agg(['mean','median','max','min'])
## Agrupei por cargos, onde eu peguei o campo idade e calculei a média, mediana, max e min da idade para cada cargo

                    mean  median  max  min
Cargo
Analista       43.416667    45.5   59   20
Coordenador    39.517241    40.0   60   22
Desenvolvedor  36.500000    35.0   59   20
Diretor        41.352941    42.5   59   20
Engenheiro     39.166667    38.5   59   21
Especialista   41.714286    46.0   60   20
Gerente        39.444444    40.0   57   21